body {
  font-family: sans-serif;
  overflow-y: auto; /* 全体スクロール */
}


.page {
  width: 80%;
  margin: auto;
}

/* 題名 */
.title {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin: 20px 0;
}

/* 横並び */
.row {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

/* 説明 */
.text {
  width: 50%;
}

/* 写真 */
.photo {
  width: 50%;
  height: auto;
}

/* 大きい説明エリア */
.big-area {
  margin-bottom: 40px;
  min-height: 200px;
}

/* ボタン */
.button-area {
  text-align: center;
}

button {
  padding: 5px 25px;
}
